.example-card {
  max-width: 400px;
}

.example-header-image {
  background-image: url('/assets/User.png');
  background-size: cover;
}
img{
  border-bottom: 1px solid black;
  border-top: 1px solid black;
}
mat-card{
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid black;
  border-radius: 5px;
  min-width: 500px;
  min-height: 250px;
}
.scrollable-card {
  width: 400px; /* Define uma largura fixa */
  height: 300px; /* Define uma altura fixa */
  display: flex;
  flex-direction: column;
}

.scrollable-card .content {
  flex: 1; /* Permite que o conteúdo ocupe o espaço restante */
  overflow: auto; /* Adiciona a rolagem */
  max-height: 200px; /* Altura máxima para ativar o scroll */
}
