<form [formGroup]="usuarioForm" #formDir="ngForm" style="margin: 15px;">
  <!-- Input Email -->
  <div>
    <mat-form-field appearance="outline" fxFlex="100">
      <mat-label>Email</mat-label>
      <input matInput type="text" formControlName="email" maxlength="20" required trim />
      <mat-error *ngIf="this.usuarioForm.get('email')?.invalid">
        {{ retornaErro(this.usuarioForm.get('email')) }}
      </mat-error>
    </mat-form-field>
  </div>
  <!-- input Nome -->
  <div>
    <mat-form-field appearance="outline" fxFlex="100">
      <mat-label>Nome</mat-label>
      <input matInput type="text" formControlName="primeiroNome" maxlength="50" required trim="blur" />
      <mat-error *ngIf="this.usuarioForm.get('primeiroNome')?.invalid">{{ retornaErro(this.usuarioForm.get('primeiroNome')) }}</mat-error>
    </mat-form-field>
  </div>
    <!-- input Nome -->
    <div>
      <mat-form-field appearance="outline" fxFlex="100">
        <mat-label>Sobrenome</mat-label>
        <input matInput type="text" formControlName="ultimoNome" maxlength="50" required trim="blur" />
        <mat-error *ngIf="this.usuarioForm.get('ultimoNome')?.invalid">{{ retornaErro(this.usuarioForm.get('ultimoNome')) }}</mat-error>
      </mat-form-field>
    </div>
  <!-- input Senha -->
  <div>
    <mat-form-field appearance="outline" fxFlex="100">
      <mat-label>Senha</mat-label>
      <input matInput [type]="showPassword ? 'text' : 'password'" formControlName="senha" maxlength="20" required
        trim />
      <mat-icon *ngIf="usuarioAdmin == 'true' || usuarioEmail === this.usuarioForm.get('email')?.value"
        (click)="showPassword = !showPassword" [class.hide]="showPassword" matSuffix>visibility</mat-icon>
      <mat-icon *ngIf="usuarioAdmin == 'true' || usuarioEmail === this.usuarioForm.get('email')?.value"
        (click)="showPassword = !showPassword" [class.hide]="!showPassword" matSuffix>visibility_off</mat-icon>
      <mat-error *ngIf="this.usuarioForm.get('senha')?.invalid">{{ retornaErro(this.usuarioForm.get('senha')) }} </mat-error>
    </mat-form-field>
  </div>
    <!-- TABLE ROLE -->
    <div style="margin-top: 50px; margin-bottom: 20px;">
      <div class="tableHeader">
        <h1>ROLES</h1>
        <button mat-raised-button (click)="addRole()" color="primary">
          Adicionar Role
        </button>
      </div>
      <div class="table-container mat-elevation-z8">
        <table mat-table [dataSource]="roleSource">
          <ng-container matColumnDef="roleNome" formArrayName="rolesUsuario">
            <th mat-header-cell *matHeaderCellDef>Role</th>
            <td mat-cell *matCellDef="let element" [formGroup]="element" class="table-form">
              <mat-form-field appearance="outline">
              <mat-select (valueChange)="updateRole(element)" formControlName="roleNome" required>
                <mat-option *ngFor="let role of rolesAPI" [value]="role.roleNome">
                  {{ role.roleNome }}
                </mat-option>
              </mat-select>
                <mat-error *ngIf="element">
                  {{ retornaErro(element.get("roleNome")) }}
                </mat-error>
              </mat-form-field>
            </td>
          </ng-container>
          <ng-container matColumnDef="excluir" formArrayName="rolesUsuario">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let element" [formGroup]="element" class="table-form">
              <button mat-raised-button color="warn"
                (click)="removeRole(roles.controls.indexOf(element))">
                Excluir
              </button>
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="roleColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: roleColumns"></tr>
          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">
              Nenhum role cadastrado
            </td>
          </tr>
        </table>
      </div>
    </div>
    <!--  -->
      <!-- TABLE MATERIAS -->
  <div style="margin-top: 30px;">

    <div class="tableHeader">
      <h1>MATÉRIAS</h1>
      <button mat-raised-button (click)="addMateria()" color="primary">
        Adicionar Matéria
      </button>
    </div>
    <div class="table-container mat-elevation-z8">
      <table mat-table [dataSource]="materiaSource" class="mat-elevation-z8">
        <ng-container matColumnDef="materia_ID" materiaformArrayName="materiasUsuario">
          <th mat-header-cell *matHeaderCellDef>Código Matéria</th>
          <td mat-cell *matCellDef="let element" [formGroup]="element" class="table-form">
            <mat-form-field appearance="outline">
                <mat-select (selectionChange)="updateMateriaCod(element)" formControlName="materia_ID" required>
                  <mat-option *ngFor="let materia of materiasAPI" [value]="materia.materia_ID">
                    {{ materia.materia_ID }}
                  </mat-option>
                </mat-select>
              <mat-error *ngIf="element">
                {{ retornaErro(element.get("materia_ID")) }}
              </mat-error>
            </mat-form-field>
          </td>
        </ng-container>

        <ng-container matColumnDef="materia_Nome" materiaformArrayName="materiasUsuario">
          <th mat-header-cell *matHeaderCellDef>Matéria</th>
          <td mat-cell *matCellDef="let element" [formGroup]="element" class="table-form">
            <mat-form-field appearance="outline">
              <mat-select (selectionChange)="updateMateriaNome(element)" formControlName="materia_Nome" required>
                <mat-option *ngFor="let materia of materiasAPI" [value]="materia.materia_Nome">
                  {{ materia.materia_Nome }}
                </mat-option>
              </mat-select>
            <mat-error *ngIf="element">
              {{ retornaErro(element.get("materia_Nome")) }}
            </mat-error>
            </mat-form-field>
          </td>
        </ng-container>

        <ng-container matColumnDef="materia_Bloco" materiaformArrayName="materiasUsuario">
          <th mat-header-cell *matHeaderCellDef>Bloco</th>
          <td mat-cell *matCellDef="let element" [formGroup]="element" class="table-form">
            <mat-form-field appearance="outline">
              <input matInput type="text" formControlName="materia_Bloco" maxlength="10" trim />
              <mat-error *ngIf="element">
                {{ retornaErro(element.get("materia_Bloco")) }}
              </mat-error>
            </mat-form-field>
          </td>
        </ng-container>

        <ng-container matColumnDef="professor_Nome" materiaformArrayName="materiasUsuario">
          <th mat-header-cell *matHeaderCellDef>Professor</th>
          <td mat-cell *matCellDef="let element" [formGroup]="element" class="table-form">
            <mat-form-field appearance="outline">
              <input matInput type="text" formControlName="professor_Nome" maxlength="50" trim />
              <mat-error *ngIf="element">
                {{ retornaErro(element.get("professor_Nome")) }}
              </mat-error>
            </mat-form-field>
          </td>
        </ng-container>

        <ng-container matColumnDef="professor_ID" materiaformArrayName="materiasUsuario">
          <th mat-header-cell *matHeaderCellDef>Email de contato</th>
          <td mat-cell *matCellDef="let element" [formGroup]="element" class="table-form">
            <mat-form-field appearance="outline">
              <input matInput type="text" formControlName="professor_ID" maxlength="100" trim />
              <mat-error *ngIf="element">
                {{ retornaErro(element.get("professor_ID")) }}
              </mat-error>
            </mat-form-field>
          </td>
          element
        </ng-container>

        <ng-container matColumnDef="excluir" materiaformArrayName="materiasUsuario">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let element" [formGroup]="element" class="table-form">
            <button mat-raised-button color="warn"
              (click)="removeMateria(materias.controls.indexOf(element))">
              Excluir
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="materiaColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: materiaColumns"></tr>
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="4">Nenhum endereço cadastrado</td>
        </tr>
      </table>
    </div>

  </div>
  <!--  -->

  <mat-checkbox *ngIf="usuarioAdmin == 'true'" formControlName="admin">Administrador</mat-checkbox>
  <div fxLayout="row" fxLayoutAlign="space-around center">
    <button *ngIf="usuarioAdmin == 'true' || usuarioEmail === this.usuarioForm.get('email')?.value" mat-raised-button
    style="background-color: green; color: white;" (click)="onClickSalvar()">
      {{ modoEditar ? "Salvar" : "Cadastrar" }}
    </button>
    <a routerLink="/listausuarios">
      <button mat-raised-button color="primary">Voltar</button>
    </a>
  </div>
</form>

