table {
  width: 50%;
  height: 100%;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 75%;
}

td,
th {
  min-width: 25%;
  border-right: 0.01mm solid lightgray;
}

th {
  border-top: 0.01mm solid lightgray;
}

.newbutton {
  margin-left: 1%;
}

mat-toolbar-row {
  justify-content: space-between;
}

.table-container {
  height: fit-content;
  width: auto;
  max-width: 80%;
  margin-bottom: 5%;
  overflow: auto;
}