.invisible{
    visibility: hidden;
    height: 0;
    width: 0;
  }
  .campo{
    margin-left: 10px;
  }
  
  
  .hide {
    display: none;
  }
  .tableHeader {
    text-align: left;
    font-size: 1.25em;
    font-weight: normal;
    display: flex;
    flex-wrap: row wrap;
    justify-content: space-around;
    vertical-align: middle;
  }
  .table-container {
    height: fit-content;
    width: auto;
    max-width: 100%;
    overflow: auto;
  }
  table {
    width: auto;
    
    justify-content: space-between;
    & > * {
      margin-left: 10px;
      vertical-align: middle;
    }
  }
  th {
    //display: flex;
    height: auto;
    width: auto;
    justify-content: center;
    text-align: center !important;
    vertical-align: middle !important;
    border-top: 0.01mm solid lightgray;
    border-left: 0.01mm solid lightgray;
    border-right: 0.01mm solid lightgray;
    
  }
  td {
    width: fit-content;
    text-align: center !important;
    vertical-align: middle !important;
    border-left: 0.01mm solid lightgray;
    border-right: 0.01mm solid lightgray;
    
  }
  .table-form{
      mat-form-field{
        margin-top: 22px;
        display: flex;
      }
  }
  