<mat-form-field>
  <mat-label>Busca</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Pesquise um usuário!" #input />
</mat-form-field>
<div class="table-container">

  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dadosUsuarios" matSort>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

      <!-- LOGIN Column -->
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Login</th>
        <td mat-cell *matCellDef="let row">{{ row.email }}</td>
      </ng-container>

      <!-- NOME Column -->
      <ng-container matColumnDef="nome">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Nome</th>
        <td mat-cell *matCellDef="let row">{{ row.nome }}</td>
      </ng-container>
      <!-- NOVO -->
      <ng-container matColumnDef="open">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let row"><a routerLink="/editarusuario/{{row.email}}">
            <button *ngIf="usuarioAdmin === 'true' || usuarioLogin === row.email" class="newbutton" mat-raised-button color="primary">ABRIR</button></a></td>
      </ng-container>
      <!-- DELETE -->
      <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let row">
          <button *ngIf="usuarioAdmin === 'true' && usuarioLogin !== row.email" class="newbutton" mat-raised-button
            color="warn" (click)="openDialog(row.email, 'usuário')">EXCLUIR</button>
        </td>
      </ng-container>
      <!--  -->

      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">Nenhum usuário encontrado</td>
      </tr>
    </table>

    <mat-toolbar>
      <mat-toolbar-row>
        <a routerLink="/novousuario">
          <button *ngIf="usuarioAdmin == 'true'" mat-raised-button style="background-color: green; color: white;">
            Novo
          </button>
        </a>
        <mat-paginator style="background-color: #f5f5f5" [hidePageSize]="true" pageSize="10"
          showFirstLastButtons="True"></mat-paginator>
      </mat-toolbar-row>
    </mat-toolbar>
  </div>
</div>