<form [formGroup]="professorForm" #formDir="ngForm" style="margin: 15px;">
  <!-- Input professor_ID -->
  <div>
    <mat-form-field appearance="outline" fxFlex="100">
      <mat-label>professor_ID</mat-label>
      <input matInput type="text" formControlName="professor_ID" maxlength="20" required trim />
      <mat-error *ngIf="this.professorForm.get('professor_ID')?.invalid">
        {{ retornaErro(this.professorForm.get('professor_ID')) }}
      </mat-error>
    </mat-form-field>
  </div>
  <!-- input Nome -->
  <div>
    <mat-form-field appearance="outline" fxFlex="100">
      <mat-label>Nome</mat-label>
      <input matInput type="text" formControlName="professor_Nome"maxlength="50" required trim="blur" />
      <mat-error *ngIf="this.professorForm.get('professor_Nome')?.invalid">{{ retornaErro(this.professorForm.get('professor_Nome')) }}</mat-error>
    </mat-form-field>
  </div>
    
      <!-- TABLE MATERIAS -->
  <div style="margin-top: 30px;">

    <div class="tableHeader">
      <h1>MATÉRIAS</h1>
    </div>
    <div class="table-container mat-elevation-z8">
      <table mat-table [dataSource]="materiaSource" class="mat-elevation-z8">
        <ng-container matColumnDef="materia_ID" materiaformArrayName="materiasProfessor">
          <th mat-header-cell *matHeaderCellDef>Código Matéria</th>
          <td mat-cell *matCellDef="let element" [formGroup]="element" class="table-form">
            <mat-form-field appearance="outline">
                <mat-select (valueChange)="updateMateriaCod(element)" formControlName="materia_ID" required>
                  <mat-option *ngFor="let materia of materiasAPI" [value]="materia.materia_ID">
                    {{ materia.materia_ID }}
                  </mat-option>
                </mat-select>
              <mat-error *ngIf="element">
                {{ retornaErro(element.get("materia_ID")) }}
              </mat-error>
            </mat-form-field>
          </td>
        </ng-container>

        <ng-container matColumnDef="materia_Nome" materiaformArrayName="materiasProfessor">
          <th mat-header-cell *matHeaderCellDef>Matéria</th>
          <td mat-cell *matCellDef="let element" [formGroup]="element" class="table-form">
            <mat-form-field appearance="outline">
              <mat-select (valueChange)="updateMateriaNome(element)" formControlName="materia_Nome" required>
                <mat-option *ngFor="let materia of materiasAPI" [value]="materia.materia_Nome">
                  {{ materia.materia_Nome }}
                </mat-option>
              </mat-select>
            <mat-error *ngIf="element">
              {{ retornaErro(element.get("materia_Nome")) }}
            </mat-error>
            </mat-form-field>
          </td>
        </ng-container>

        <ng-container matColumnDef="materia_Bloco" materiaformArrayName="materiasProfessor">
          <th mat-header-cell *matHeaderCellDef>Bloco</th>
          <td mat-cell *matCellDef="let element" [formGroup]="element" class="table-form">
            <mat-form-field appearance="outline">
              <input matInput type="text" formControlName="materia_Bloco" maxlength="10" trim />
              <mat-error *ngIf="element">
                {{ retornaErro(element.get("materia_Bloco")) }}
              </mat-error>
            </mat-form-field>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="materiaColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: materiaColumns"></tr>
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="4">Nenhuma matéria cadastrada</td>
        </tr>
      </table>
    </div>

  </div>
  <!--  -->

  <div fxLayout="row" fxLayoutAlign="space-around center">
    <button *ngIf="usuarioAdmin == 'true' || usuarioprofessor_ID === this.professorForm.get('professor_ID')?.value" mat-raised-button
    style="background-color: green; color: white;" (click)="onClickSalvar()">
      {{ modoEditar ? "Salvar" : "Cadastrar" }}
    </button>
    <a routerLink="/listaprofessores">
      <button mat-raised-button color="primary">Voltar</button>
    </a>
  </div>
</form>

